/* Fondo blanco para toda la página */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f0f2f5; /* Fondo suave para toda la página */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  color: #333;
}

.App-header {
  width: 90%;
  max-width: 800px;
  margin-top: 20px;
}

h1 {
    margin: 0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 700; /* Aquí cambié a 700 porque estaba en el segundo código */
    font-size: 3.75rem; /* Ajuste de tamaño de fuente */
    line-height: 1.2;
    letter-spacing: -0.00833em;
    text-align: center; /* Añadido para centrar como en el segundo estilo */
    margin-bottom: 0.35em; /* Mantener el espacio inferior */
    color: #0a9fdd; /* Color azul */
}


/* Estilo de la tabla */
.MuiTableContainer-root {
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-height: 400px; /* Altura máxima del contenedor de la tabla */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
}

.MuiTableHead-root .MuiTableCell-root {
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
  background-color: #0a9fdd; /* Azul oscuro para los encabezados */
  position: sticky; /* Hace que el encabezado se mantenga fijo */
  top: 0; /* Posición fija en la parte superior */
  z-index: 1; /* Asegura que esté encima del contenido de la tabla */
}

.MuiTableBody-root .MuiTableCell-root {
  font-size: 14px;
  color: #555;
  padding: 12px;
}

.MuiTableRow-root:nth-of-type(even) {
  background-color: #f9f9f9; /* Alterna colores en las filas */
}

.MuiTableRow-root:hover {
  background-color: #e0e7ff; /* Fondo azul claro al pasar el mouse */
}
